<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info" >

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="logfile" fileName="c:\temp\console-example.log"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<!--<target xsi:type="Console" name="logconsole"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />-->
		<target xsi:type="Database" name="database" connectionString="Data source=./Data/Permissions.db;Version=3;"
            dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite.Core, Version=1.0.119, Culture=neutral" commandText="insert into Logs (Date, HostName, Thread, [Identity], Level, Logger, Message, Exception) values (@Date, @HostName, @Thread, @Identity, @Level, @Logger, @Message, @Exception);">
			<parameter name="@Date" layout="${date}" />
			<parameter name="@HostName" layout="${machinename}" />
			<parameter name="@Thread" layout="${threadname}" />
			<parameter name="@Identity" layout="${windows-identity} " />
			<parameter name="@Level" layout="${uppercase:${level}}" />
			<!--<parameter name="@Browser" layout="${browser}" />
			<parameter name="@Platform" layout="${platform}" />-->
			<parameter name="@Logger" layout="${callsite} ${callsite-linenumber}" />
			<!--<parameter name="@User" layout="${aspnet-user-identity}" />-->
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile,logconsole,database" />
		<logger name="databaseLogger" minlevel="Trace" writeTo="logfile,database" />
	</rules>
</nlog>