@model Google.Apis.PeopleService.v1.Data.Person
@using GoogleGroups.App_Code;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center container">
    <img src="~/Data/Icons/logo.png" height="116px"/>
    <br />
    <br />
    <h1 class="display-4">Welcome to Google Groups Manager</h1>
    <p>An application for managing Google domain groups</p>

</div>
