@using GoogleGroups.App_Code;
@{
    ViewData["Title"] = "Privacy Policy";
    GoogleJWT jwt = new GoogleJWT(Helper.EnvVars("ServiceAccountClientID"), "https://www.google.com/m8/feeds/contacts/ https://www.googleapis.com/auth/admin.directory.user https://www.googleapis.com/auth/admin.directory.group");
    var token = await jwt.GetAccessToken("./Data/credentials.p12");
}
<h1>@ViewData["Title"]</h1>

<p>@token</p>
