@model List<GoogleGroups.Models.GroupModel>;
@{
    ViewData["Title"] = "Add Contacts";
    var email = ViewData["email"];
    var groups = Model;
}
<style type="text/css">
.btn {
    background-color: lightgrey;
}  
.btn:hover{
    background-color: darkgray;
}
.rows {
    margin: 3px;
}
</style>

<script>
    $('#multiple-select').mobiscroll().select({
        inputElement: document.getElementById('my-input'),
        touchUi: false
    });

    $(document).ready(function () {

        var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
            removeItemButton: true,
            maxItemCount: 5,
            searchResultLimit: 5,
            renderChoiceLimit: 5
        });


    });

</script>

<h2>Add Contact</h2>
<hr style="height:4px;border-width:2;color:#0e597d;background-color:#0e597d">

<div class="list-group-item rounded">
    
    <form method="post">
        <div style="width:30%;justify-content:center">

                <lable for="firstName" class="label-custom">First Name:</lable>
                <input type="text" class="text-custom" name="firstName" />
                
            <hr style="height:0px;border-width:0;">

                <lable for="lastName" class="label-custom">Last Name:</lable>
                <input type="text" class="text-custom" name="lastName" />
            <hr style="height:0px;border-width:0;">

                
                <lable for="email" class="label-custom">Email:</lable>
                <input type="text" class="text-custom" name="email" value="@email" />
            <hr style="height:0px;border-width:0;">

                

                <lable for="phone" class="label-custom">Phone Number:</lable>
                <input type="text" class="text-custom" name="phone" />

        </div>
        

                <hr style="height:0px;border-width:0;">
            

                
                <button type="submit" class="btn-blue" name="submit">Submit</button>
            
    </form>
</div>
   @*  <meta http-equiv="submit" content="5; URL=/Contacts/Contact?email=@email" /> *@